@charset "UTF-8";
/*
Site Name: {{ SITE NAME GOES HERE }}
Site URL: {{ SITE URL GOES HERE }}
Description: {{ DESCRIPTION GOES HERE }}
Author: Thomas Dintrone
*/

/*********************************************
RESET
**********************************************/
blockquote,body,form,h1,h2,h3,h4,h5,img,li,ol,p,ul{margin:0;padding:0}h1,h2,h3,h4,h5{font-weight:400}ol,ul{list-style:none}code{background:#FFFFC1}a{text-decoration:none}a img,img{border:0}blockquote p{padding:5px 0}.aligncenter{margin:5px auto 20px;display:block}.alignleft{margin:5px 20px 8px 0;float:left}.alignright{margin:5px 0 8px 20px;float:right}.col-left{float:left}.col-right{float:right}.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}.fix{clear:both;height:1px;margin:-1px 0 0;overflow:hidden}.fl{float:left}.fr{float:right}.ac{text-align:center}.ar{text-align:right}img.centered{display:block;margin-left:auto;margin-right:auto}.group:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.group{clear:both}* html .group{height:1%}.group{display:block}

/*********************************************
FONTS
**********************************************/
body { font-family:Helvetica, arial, sans-serif; }

/*********************************************
HTML 5 
**********************************************/
article, aside, figure, footer, header, nav, section {display: block;}

/*********************************************
GENERAL
**********************************************/
html, body { height:100%; margin:0; padding:0; }
body {  }

.small { font-size:.75em; }

a {  }
a:hover { text-decoration:underline; }

hr { margin:60px 0; clear:both; border-top:solid 1px #e6e0da; border-bottom:solid 1px #e6e0da; height:3px; border-left:0; border-right:0;}

.content { margin:20px 0; }

h1 { }

/*********************************************
NAVIGATION
**********************************************/


/*********************************************
PAGE STRUCTURE
**********************************************/
#wrapper { width:960px; margin:0 auto; position:relative;}

.one-third { width:258px; padding-left:10px; float:left; margin-right:30px; padding-right:30px;}
.one-third.last { margin-right:0; }

.two-thirds { float:left; width:540px; }
.left { float:left; }
aside.sidebar { float:right; border-left:1px solid #eee; padding-left:30px; }

/* HEADER */



/* SLIDER */


/* MAIN CONTENT SECTIONS */



/* FOOTER */
